@import url('https://fonts.googleapis.com/css2?family=Allura&family=Josefin+Sans:wght@100&display=swap');

.CT{
    display: flex;
    width:auto;
    justify-content: center;
}
.control {
    background: #98e4f1e0;
    margin: 20px;
    margin-bottom: 50px ;
    width: 180px;
    height: 180px;
    padding: 20px;
    line-height: 35px;
    color: #8e8b8b;
    position: relative;
    bottom: 50px;
    top: 30px;
    border-radius: 30px;
    font-weight: 900;
}
.control img{
    width: 80px;
    height: 80px;
    text-align: right;
}
.CT .control .texttb {
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    top: 150px;
}