<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/component.css" />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <title>ĐỒ ÁN TỐT NGHIỆP</title>
  </head>
  <body>
    <nav
      class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow"
    >
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">HCMUTE</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
        >
          <div class="sidebar-sticky pt-3">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home">
                    <i class="fas fa-home"></i>
                  </span>
                  Trang chủ <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="tempature.html">
                  <span data-feather="tempature">
                    <i class="fas fa-temperature-high"></i>
                  </span>
                  Nhiệt độ
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="soilMoisture.html">
                  <span data-feather="moisture">
                    <i class="fas fa-seedling"></i
                  ></span>
                  Độ ẩm đất
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="humidity.html">
                  <span data-feather="hudiminity">
                    <i class="fas fa-tint"></i>
                  </span>
                  Độ ẩm
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <h2>Trang chủ</h2>
          <div class="full-height d-flex align-items-center">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-10">
                <div class="card-deck">
                  <div
                    class="card shadow-lg p-5 mb-5 text-white mb-3 rounded"
                    style="
                      background: linear-gradient(
                        90deg,
                        rgba(2, 0, 36, 1) 0%,
                        rgba(198, 67, 67, 1) 69%
                      );
                    "
                  >
                    <a
                      href="tempature.html"
                      style="text-decoration: none; color: white"
                    >
                      <img
                        src="../asset/images/thermometer-temperature-svgrepo-com.svg"
                        class="card-img-top"
                        alt="Tempature"
                      />
                      <div class="card-body">
                        <h5 class="card-title text-center h2">Nhiệt độ</h5>
                        <div class="value" id="temp">%B%</div>
                      </div>
                    </a>
                  </div>
                  <div
                    class="card shadow-lg p-5 mb-5 bg-white rounded rounded text-white"
                    style="
                      background: linear-gradient(
                        90deg,
                        rgba(2, 0, 36, 1) 0%,
                        rgba(110, 81, 81, 1) 69%
                      );
                    "
                  >
                    <a
                      href="soilMoisture.html"
                      style="text-decoration: none; color: white"
                    >
                      <img
                        src="../asset/images/soil-moisture-svgrepo-com.svg"
                        class="card-img-top"
                        alt="Moisture"
                      />
                      <div class="card-body">
                        <h5 class="card-title h2 text-center">Độ ẩm đất</h5>
                        <div class="value" id="solid">%H%</div>
                      </div>
                    </a>
                  </div>
                  <div
                    class="card shadow-lg p-5 mb-5 text-white rounded rounded"
                    style="
                      background: linear-gradient(
                        90deg,
                        rgba(2, 0, 36, 1) 19%,
                        rgba(81, 185, 224, 1) 90%
                      );
                    "
                  >
                    <a
                      href="humidity.html"
                      style="text-decoration: none; color: white"
                    >
                      <img
                        src="../asset/images/humidity_1.svg"
                        class="card-img-top"
                        alt="Tempature"
                      />
                      <div class="card-body">
                        <h5 class="card-title h2 text-center">Độ ẩm</h5>
                        <div class="value" id="humi">%H%</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-2">
                <p class="h5">Cơ chế hoạt động</p>
                <div class="d-flex">
                  <div class="mr-2 font-weight-bold">Tự động</div>
                  <div class="font-weight-bold">Bằng tay</div>
                </div>
                <label class="switch">
                  <input
                    type="checkbox"
                    onchange="mode(this)"
                    id="CHẾ ĐỘ HOẠT ĐỘNG"
                  />
                  <span class="slider"></span>
                </label>
                <div>
                  <div class="h6">Trạng thái đèn</div>
                  <div class="">
                    <label class="switch">
                      <input
                        type="checkbox"
                        onchange="toggleCheckbox(this)"
                        id="TRẠNG THÁI ĐÈN"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div>
                    <div class="h6">Trạng thái quạt</div>
                    <label class="switch">
                      <input
                        type="checkbox"
                        onchange="toggleCheckbox(this)"
                        id="TRẠNG THÁI QUẠT"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div>
                    <div class="h6">Trạng thái máy bơm</div>
                    <label class="switch">
                      <input
                        type="checkbox"
                        onchange="toggleCheckbox(this)"
                        id="TRẠNG THÁI MÁY BƠM"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                  <div>
                    <div class="h6">Trạng thái phun sương</div>
                    <label class="switch">
                      <input
                        type="checkbox"
                        onchange="toggleCheckbox(this)"
                        id="TRẠNG THÁI PHUN SƯƠNG"
                      />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>

    <script>
      const config = {
        apiKey: "AIzaSyA_fac89wpzdEv-m4A8iemVDEgwaB3qwhc",
        authDomain: "iots-43546.firebaseapp.com",
        databaseURL:
          "https://iots-43546-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "iots-43546",
        storageBucket: "iots-43546.appspot.com",
        messagingSenderId: "448994359206",
        appId: "1:448994359206:web:ca80fc8b42edb00fa08167",
        measurementId: "G-3K8J69RXH7",
      };
      // Initialize Firebase
      firebase.initializeApp(config);
      // firebase.analytics();
      var solid = document.getElementById("solid");
      var dbSolid = firebase.database().ref().child("DỮ LIỆU/ĐỘ ẨM ĐẤT");
      var huminity = document.getElementById("humi");
      var dbHumi = firebase.database().ref().child("DỮ LIỆU/NHIỆT ĐỘ");
      var temparute = document.getElementById("temp");
      var dbTemp = firebase.database().ref().child("DỮ LIỆU/ĐỘ ẨM");
      dbSolid.on("value", (snap) => (solid.innerText = snap.val() + " %"));
      dbHumi.on("value", (snap) => (huminity.innerText = snap.val() + " %"));
      dbTemp.on("value", (snap) => (temparute.innerText = snap.val() + " °C"));
      // end
      function toggleCheckbox(element) {
        var state;
        if (element.checked) {
          firebase.database().ref(element.id.toString()).set({ Status: "On" });
        } else
          firebase.database().ref(element.id.toString()).set({ Status: "Off" });
      }
      function mode(element) {
        var state;
        if (element.checked) {
          firebase
            .database()
            .ref(element.id.toString())
            .set({ Status: "Manual" });
        } else
          firebase
            .database()
            .ref(element.id.toString())
            .set({ Status: "Auto" });
      }
    </script>
  </body>
</html>
