<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/chart.css" />

    <title>Tempature Chart</title>
  </head>
  <body>
    <div
      class="vh-100 d-flex align-items-center"
      style="
        background: linear-gradient(
          90deg,
          rgba(2, 0, 36, 1) 0%,
          rgba(198, 67, 67, 1) 69%
        );
      "
    >
      <div class="container">
        <div class="text-left my-3">
          <a href="../index.html" class="text-white">Quay trở lại</a>
        </div>
        <p id="chart-temperature"></p>
        <div class="text-center text-white h3">
          Current:
          <span id="temp"></span>
        </div>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
    <script type="module" src="../services/chartTempature.js"></script>
  </body>
</html>
